body {
  min-width: 1190px;
  font-size: 16px;
  margin: 0;
  position: relative;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.woff);
}

@font-face {
  font-family: "Montserrat";
  font-weight: bold;
  src: url(../fonts/Montserrat-Bold.woff);
}

@font-face {
  font-family: "Playfair Display";
  font-style: italic;
  src: url(../fonts/PlayfairDisplay-Italic.woff);
}

@font-face {
  font-family: "Raleway";
  src: url(../fonts/raleway-regular.woff);
}

@font-face {
  font-family: "Raleway";
  font-weight: bold;
  src: url(../fonts/raleway-bold.woff);
}

/* !!! Добавить font-face для остальных шрифтов */

.container {
  width: 1170px;
  padding: 0 10px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* <<<HEADER */

.main-header {
  background-image: url(../img/Surfing.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #73adc5;
  min-height: 700px;
  margin-bottom: 512px;
}

.header-top {
  min-height: 40px;
  padding-top: 30px;
  margin-bottom: 130px;
}

.header-top-left {
  min-width: 174px;
  float: left;
  transform: scalex(0.9);
}

.logo {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 34px;
  text-decoration: none;
  color: #000;
  line-height: 40px;
  margin: 0;
}

.logo:hover {
  color: #000;
}

.header-top-right {
  width: 870px;
  float: right;
}

.main-navigation {
  display: block;
  min-width: 570px;
  float: left;
  list-style: none;
  padding: 8px 9px 6px 9px;
  margin: 0;
}

.main-navigation li {
  display: inline-block;
  vertical-align: baseline;
}

.main-navigation a {
  display: block;
  text-decoration: none;
  padding: 0 9px;
  margin-left: 3px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  line-height: 24px;
  color: #000;
}

.main-navigation a:hover {
  color: #FFF;
  background-color: #00b0ff;
}

.social-block {
  width: 128px;
  float: right;
  font-size: 0;
}

.social-btn {
  display: inline-block;
  vertical-align: middle;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #000;
  background-image: url('../img/css_sprites.png');
  background-repeat: no-repeat;
  margin-right: 10px;
}

.social-btn:nth-child(1) {
  background-position: -173px -70px;
}

.social-btn:nth-child(2) {
  background-position: 0px -86px;
}

.social-btn:last-child {
  background-position: -52px 0px;
  margin-right: 0;
}

.social-btn:hover {
  background-color: #FFF;
}

.social-btn:nth-child(1):hover {
  background-position: -173px -34px;
}

.social-btn:nth-child(2):hover {
  background-position: -40px -50px;
}

.social-btn:last-child:hover {
  background-position: -2px -50px;
}

.header-bottom {
  font-family: "Playfair Display", serif;
  font-style: italic;
  text-align: center;
  margin-bottom: 145px;
}

.header-bottom h1 {
  font-size: 50px;
  line-height: 60px;
  color: #000;
  margin: 0;
  margin-bottom: 5px;
}

.header-bottom p {
  font-size: 24px;
  line-height: 26px;
  color: #FFF;
  margin: 0;
}

.surfboards-catalog {
  position: absolute;
  left: 50%;
  margin-left: -515px;
  width: 1030px;
  min-height: 600px;
  background-color: #FFF;
  box-sizing: border-box;
  box-shadow: 0px -8px 30px rgba(0,0,0,0.34);
}

.surfboards-catalog .corner {
  position: absolute;
  z-index: 10;
  border-top: 600px solid #00d2ff;
  border-right: 500px solid transparent;
}

.surfboards-catalog .boards-text {
  position: absolute;
  transform: scaley(1.06) rotate(-90deg);
  z-index: 10;
  right: -242px;
  bottom: 233px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 127px;
  line-height: 127px;
  text-transform: uppercase;
  text-indent: 100;
  color: #000;
  opacity: 0.03;
}

.surfboards-catalog .boards-pics {
  position: absolute;
  top: 40px;
  left: 30px;
  z-index: 20;
  width: 500px;
  height: 480px;
} 

.boards-pics input[type=radio] {
  display: none;
}

.boards-pics .pic-control {
  float: right;
  margin-top: 100px;
}

.boards-pics label {
  display: block;
  box-sizing: border-box;
  width: 70px;
  height: 70px;
  margin-bottom: 3px;
  outline: 1px solid #ccc;
  outline-offset: -1px;
}

.boards-pics label:nth-child(1) {
  background: url(../img/thumb1.jpg) no-repeat;
}

.boards-pics label:nth-child(2) {
  background: url(../img/thumb2.jpg) no-repeat;
}

.boards-pics label:nth-child(3) {
  background: url(../img/thumb3.jpg) no-repeat;
}

.boards-pics label:nth-child(4) {
  background: url(../img/thumb4.jpg) no-repeat;
}

#pic-1:checked ~ .pic-control label[for="pic-1"],
#pic-2:checked ~ .pic-control label[for="pic-2"],
#pic-3:checked ~ .pic-control label[for="pic-3"],
#pic-4:checked ~ .pic-control label[for="pic-4"] {
  outline: 3px solid #00b0ff;
  outline-offset: -3px;
}

.boards-pics img {
  display: none;
}

#pic-1:checked ~ .images img:nth-child(1),
#pic-2:checked ~ .images img:nth-child(2),
#pic-3:checked ~ .images img:nth-child(3),
#pic-4:checked ~ .images img:nth-child(4) {
  display: block;
  float: left;
}

.surfboards-catalog .board-info {
  position: absolute;
  z-index: 20;
  right: 0px;
  width: 500px;
  box-sizing: border-box;
  padding-left: 50px;
  padding-top: 40px;
}

.board-info h2 {
  margin: 0;
  margin-right: 90px;
  margin-bottom: 10px;
  font-family: "Montserrat", serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

.board-info .top-block {
  min-height: 38px;
  margin-top: -14px;
  margin-bottom: 28px;
}

.board-info .raiting {
  display: block;
  float: left;
  padding: 0;
  padding-top: 12px;
  margin: 0;
  list-style: none;
  font-size: 0px;
}

.board-info li {
  display: inline-block;
  vertical-align: top;
}

.board-info li[class*=star] {
  width: 14px;
  height: 14px;
  margin-right: 3px;
  background: url(../img/css_sprites.png) -44px -132px no-repeat;
}

.board-info li[class=nostar] {
  background: url(../img/css_sprites.png) -10px -132px no-repeat;
}

.board-info li:last-child {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #787878;
}

.board-info .counter {
  display: block;
  float: right;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 38px;
  color: #fff;
  background-color: #000;
  padding: 0 10px;
}

.board-info .board-about {
  width: 395px;
  min-height: 250px;
}

.board-about input {
  display: none;
}

.board-about input:not(:checked) + .tab p {
  display: none;
}

.board-about label {
  cursor: pointer;
}

.board-about h3 {
  float: left;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.05em;
  color: #a0a0a0;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
  margin-right: 28px;
  padding-bottom: 4px;
}

.board-about input:checked + .tab h3 {
  border-bottom: 3px #00b0ff solid;
  color: #000;
}


.board-about p {
  float: right;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #787878;
  width: 100%;
  margin: 22px 0 0 -100%;
  padding-top: 26px;
  border-top: 1px #d9d9d9 solid;
}

.board-info .price {
  float: left;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 44px;
  margin-right: 26px;
}


/* HEADER>>> */